<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Stuart Bingham</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
<link rel="stylesheet" type="text/css" href="resume.css">
<script type="text/javascript" src="semantic.min.js"></script>

<link rel="shortcut icon" href="SBicon.ico">

</head>
  <body>
      <div class="ui main text container">
      		<div>
      			<h1>Stuart Bingham</h1>
      			<div class="ui grid">
      			   <div class="seven wide column">17402 N 19th Ave Apt 21 Phoenix AZ</div>
      			   <div class="four wide column">(480) 498 8273</div>
      			   <div class="four wide column">bingham.stuart@gmail.com</div>
      			</div>
      		</div>
      		
      			<h3 class="ui dividing header">Professional Experience</h3>
              
          <div class="ui left aligned grid">
              <div class="eight wide column"><h4>Level 2 Service and Support Specialist</h4></div>
              <div class="right aligned eight wide column"><h4>May 2017 – Current</h4></div>
        			<div class="sixteen wide column"><h4>TeamLogicIT North West Valley</h4></div>
        			<div class="eight wide column">
        			  Responsibilities
        			  <ul>
        				<li> Worked as both the first point of contact for customers calling in or emailing about issues, as well as a point of technical escalation for Level 1 Service and Support Specialists </li>
                <li>Maintained a high level of spoken and written professionalism on phone calls and emails with our customers. </li>
                <li>Troubleshot and Repaired hardware that came into the shop.</li>
                <li>Assisted clients with a wide rage of technical issues, all working in unique environments. </li>
        			</ul>
        			</div>
        			<div class="eight wide column">
        			  Technologies Used/Supported
        			  <ul>
        				<li>Active Directory</li>
                <li>Exchange</li>
                <li>Office 365</li>
                <li>G Suite</li>
                <li>Windows Server 2016, 2012r2, 2012, 2008</li>
                <li>Windows 10, 8.1, 8, 7, XP</li>
                <li>iOS 10, 9</li> 
                <li>Android ~6.0 and forward</li>
                <li>Screen Connect</li>
                <li>Kaseya</li>
        				</ul>
        			</div>
        	</div>
        			
          <div class="ui left aligned grid">
              <div class="eight wide column"><h4>Service Design & Transition Engineer</h4></div>
              <div class="right aligned eight wide column"><h4>November 2014 -March 2017</h4></div>
        			<div class="sixteen wide column"><h4>Allcovered, Konica Minolta Business Solutions</h4></div>
        			<div class="eight wide column">
        			  Responsibilities
        			  <ul>
        				<li>Programmed Kaseya and Group Policy scripts </li>
                <li>Managed multiple software solutions as company’s SME of Airwatch, Bitdefender, Kaseya Endpoint Security, Kaseya Antivirus and Kaseya Anti-Malware. </li>
                <li>Educated engineers and end users on proper use of managed software.</li>
                </ul>
        			</div>
        			<div class="eight wide column">
        			  Technologies Used/Supported
        			  <ul>
                <li>Active Directory</li>
                <li>Exchange</li>
                <li>Hyper-V</li>
                <li>Office 365</li>
                <li>G Suite</li>
                <li>Windows Server 2016, 2012r2, 2012, 2008, 2000</li>
                <li>Windows 10, 8.1, 8, 7, Vista, XP</li>
                <li>iOS 10, 9, 8, 7</li> 
                <li>Android ~5.0 and forward</li>
                <li>Kaseya</li>
                <li>Airwatch</li>
        				</ul>
        			</div>
        	</div>

          <div class="ui left aligned grid">
              <div class="eight wide column"><h4>Onsite and Remote Support Engineer</h4></div>
              <div class="right aligned eight wide column"><h4>March 2014 - October 2014</h4></div>
        			<div class="sixteen wide column"><h4>McDermit Consulting</h4></div>
        			<div class="eight wide column">
        			  Responsibilities
        			  <ul>
        				<li>Provided initial contact for clients working in a variety of different environments via phone and email</li>
                <li>Troubleshot various issues over the phone, remotely, and on site.</li>
                <li>Performed server maintenance including troubleshooting failing backups, pushing out windows updates to network computers and various other tasks.</li>
                </ul>
        			</div>
        			<div class="eight wide column">
        			  Technologies Used/Supported
        			  <ul>
                <li>Active Directory</li>
                <li>Exchange</li>
                <li>Office 365</li>
                <li>Windows Server 2012r2, 2012, 2008, 2000</li>
                <li>Windows 8.1, 8, 7, Vista, XP</li>
                <li>iOS 8, 7</li> 
                <li>Android ~5.0 and forward</li>
                <li>LogMeIn</li>
        				</ul>
        			</div>
        	</div>
      			
          <div class="ui left aligned grid">
              <div class="eight wide column"><h4>Remote Support Analyst & NOC Analyst</h4></div>
              <div class="right aligned eight wide column"><h4>January 2013 - November 2013</h4></div>
        			<div class="sixteen wide column"><h4>Mytek Network Solutions</h4></div>
        			<div class="eight wide column">
        			  Responsibilities
        			  <ul>
        				<li>Provided initial contact for all client issues via phone and Email</li>
                <li>Maintained ticket documentation for possible escalation and daily client updates</li>
                <li>Troubleshot network connectivity</li>
                </ul>
        			</div>
        			<div class="eight wide column">
        			  Technologies Used/Supported
        			  <ul>
                <li>Active Directory</li>
                <li>Exchange</li>
                <li>Hyper-V</li>
                <li>Windows Server 2012r2, 2012, 2008, 2000</li>
                <li>Windows 8, 7, Vista, XP</li>
                <li>LogMeIn</li>
                <li>Nagios</li>
        				</ul>
        			</div>
        	</div>
        	
          <div class="ui left aligned grid">
              <div class="eight wide column"><h4>IT Department Intern</h4></div>
              <div class="right aligned eight wide column"><h4>January 2010 - Feb 2010</h4></div>
        			<div class="sixteen wide column"><h4>Northland Pioneer College</h4></div>
        			<div class="eight wide column">
        			  Responsibilities
        			  <ul>
        				<li>Performed workstation and classroom setup.</li>
                <li>Troubleshot miscellaneous peripherals devices including printers, projectors and video cameras.</li>
                </ul>
        			</div>
        			<div class="eight wide column">
        			  Technologies Used/Supported
        			  <ul>
                <li>Windows 7, Vista</li>
                <li>CloneZilla</li>

        				</ul>
        			</div>
        	</div>
        	
      			<h3 class="ui dividing header">Certifications and Awards</h3>
      			<div>
      			  <ul>
      			  <li>MCP, Microsoft Technology Associate: Windows Operating System (2014)</li>
                  <li>VMWare Airwatch Expert Accreditation: Enterprise Mobility (2016)</li>
                  <li>Academic Decathlon Varsity Bronze Medal, Mathematics (2009)</li>
              </ul>
            </div>
      </div>
  </body>
</html>