
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Stuart Bingham</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
<link rel="stylesheet" type="text/css" href="stuart.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="semantic.min.js"></script>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<link rel="shortcut icon" href="SBicon.ico">

</head>

<body>

<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" href="#top">Stuart Bingham</a>

    <div class="right menu">
        <a class="item" href="#projects">Projects</a>
        <a class="item" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>




<div class="ui inverted vertical masthead center aligned segment" id="top">
   <div class="ui text container">
     <h1 class="ui inverted header">
      Engineer and Aspiring Developer
     </h1>
     <h2>I'm a network engineer with a nack for analyzing workflows and designing automation to make things simpler.</h2>
   </div>
</div>

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      
      <div class ="row">
        <h2 class="ui header" id="projects">
          <img src="SettingsInverted.jpg" class="ui circular image">
          Projects
          </h2>
      </div>
      
      <div class ="row">
        <div class="ui segment">
          <h3 class="ui header">Bitdefender Cutover</h3>
          <img class="ui medium right floated image" src="AVGtoBitdefender.png">
          <p>In this project I assisted <a href=”https://www.allcovered.com/”> All Covered </a> with replacing their  aging monitored antivirus, <a href="http://help.kaseya.com/webhelp/EN/KES/9030000/EN_kesguide_R93.pdf">KES</a> (Kaseya’s monitored version of AVG), with a new monitored solution, <a href="https://www.bitdefender.com/">Bitdefender</a>, on all ~30,000 monitored endpoints. Due to the scale of the project, it would have been unreasonable to not automate this process. </p>
          <p>This automation was achieved with two key programs: An engineer at Bitdefender built an application to mirror the organizational structure of the Kaseya Machine Groups into Bitdefender’s web management console, Gravityzone, leveraging Kaseya and Bitdefender APIs. I developed the other program, which was run on the endpoints. My script did the following:</p>
              <div class="ui ordered list">
                  <div class="item">Evaluate the endpoint’s Kaseya Machine Group membership, OS architecture, and currently installed AV,</div>
                  <div class="item">Uninstall any competitive antivirus solutions</div>
                  <div class="item">Translate the Machine Group membership and OS architecture of the endpoint into information used by the Bitdefender API to request an appropriate installation package from Gravityzone</div>
                  <div class="item">Install Bitdefender</div>
              </div>
        </div>
        <div class="ui segment">
          <h3 class="ui header">YelpCamp</h3>
          <img class="ui medium left floated image" src="YelpCampPlaceholder.png">
          <p>Centerpiece project created in Colt Steele's Web Developer Bootcamp, where we learned several key concepts for Web Development focused around the MEAN stack. Feel free to check it out <a href="">here</a>; just keep in mind that this application was just a series of proofs of concepts.</p>
          <p>Also, I am not actively moderating the site, so dont post anything horrible</p>
        </div>
      </div>
      
      </div>
    </div>
</div>


<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class ="row">
        <h2 class="ui header" id="contact">
          <img src="StuartBingham.jpg" class="ui circular image">
          Contact Me
          </h2>
      </div>
  
  <form method="POST" 
        action="/contact" 
        name="contact" 
        class="ui form attached fluid segment">
    <div class="field">
      <div class="field">
        
        <label>Name</label>
        <input type="text" placeholder="Name" name="contact[name]">
      
      </div>
    </div>
    <div class="field">
      
      <label>Email Address</label>
      <input type="email" placeholder="Email" name="contact[email]">
  
    </div>
    <div class="field">
      
      <label>Message</label>
      <textarea name="contact[message]"></textarea>
    
    </div>
    <button type="submit" class="ui submit secondary button">Send</div>
  </form>

</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui grid">
       <div class="row">
          <div class= "column">Made by Stuart Bingham, leveraging Semantic UI, Semantic UI Themes, and JQuery
        </div>
        </div>
      </div>
       <div class="row">
          <div class= "column">
            <a href="https://github.com/quibfiddle"><i class="github icon"></i></a>
            <a href="mailto:bingham.stuart@gmail.com"><i class="mail icon"></i></a>
            <a href="https://c9.io/quibfiddle"><i class="lab icon"></i></a>
          </div>
      </div>
      </div>

</div>


</body>

</html>
