
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Stuart Bingham</title>
 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
<link rel="stylesheet" type="text/css" href="stuart.css">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="semantic.min.js"></script>
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>

<link rel="shortcut icon" href="SBicon.ico">

</head>

<body>

<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" href="#top">Stuart Bingham</a>

    <div class="right menu">
        <a class="item" href="#projects">Projects</a>
        <a class="item" href="#contact">Contact</a>
      </div>
    </div>
  </div>
</div>


<div class="pusher">

  <div class="ui inverted vertical masthead center aligned segment" id="top">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Engineer and Developer
      </h1>
      <h2>I'm a network engineer with a nack for analyzing workflows and designing automation to make things simpler.</h2>
    </div>
  </div>
  
</div>


<!--<div class="ui vertical stripe segment">-->
<!--    <div class="ui middle aligned stackable grid container">-->
<!--      <div class ="row">-->
<!--        <h2 class="ui header" id="projects">Projects</h2>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="eight wide column">-->
<!--          <h3 class="ui header">Bitdefender Cutover</h3>-->
<!--          <p>Designed, wrote and deployed a script to 30,000 endpoints that removed the previous antivirus solution, installed Bitdefender and enrolled the new installation into the correct organizational group in Bitdefenders Gravityzone webmanagement console.</p>-->
<!--        </div>-->
<!--        <div class="eight wide right floated column">-->
<!--          <img src="Bitdefender placeholder.png" class="ui large bordered rounded image">-->
<!--        </div>-->
<!--        <div class="eight wide column">-->
<!--          <img src="YelpCampPlaceholder.png" class="ui large bordered rounded image">-->
<!--        </div>-->
<!--        <div class="eight wide right floated column">-->
<!--           <h3 class="ui header">Yelp Camp</h3>-->
<!--           <p>Centerpiece project created in Colt Steele's Web Developer Bootcamp, where we learned several key concepts for Web Development focused around the MEAN stack.</p>-->
<!--      </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->

<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class ="row">
        <h2 class="ui header" id="projects">
          <img src="SettingsInverted.jpg" class="ui circular image">
          Projects
          </h2>
      </div>
      <div class="ui divided items">
        <div class="item">
          <div class="image">
            <img src="Bitdefender placeholder.png">
          </div>
          <div class="content">
            <span class="header">Bitdefender Cutover Project</span>
            <div class="meta">
              <span>Designed, wrote and deployed a script to 30,000 endpoints that removed the previous antivirus solution, installed Bitdefender and enrolled the new installation into the correct organizational group in Bitdefenders Gravityzone webmanagement console.</span>
            </div>
            <!--<div class="description">-->
            <!--  <p></p>-->
            <!--</div>-->
            <!--<div class="extra">-->
            <!--  <a href="/Bitdefender"> Additional Details </a>-->
            <!--</div>-->
          </div>
        </div>
        <div class="item">
          <div class="image">
            <img src="YelpCampPlaceholder.png">
          </div>
          <div class="content">
            <span class="header">YelpCamp</span>
            <div class="meta">
              <span>Centerpiece project created in Colt Steele's Web Developer Bootcamp, where we learned several key concepts for Web Development focused around the MEAN stack.</span>
            </div>
            <!--<div class="description">-->
            <!--  <p></p>-->
            <!--</div>-->
            <!--<div class="extra">-->
            <!--  <a>See it running</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class ="row">
        <h2 class="ui header" id="contact">
          <img src="StuartBingham.jpg" class="ui circular image">
          Contact Me
          </h2>
      </div>
  
  <form method="POST" 
        action="/contact" 
        name="contact" 
        class="ui form attached fluid segment">
    <div class="field">
      <div class="field">
        
        <label>Name</label>
        <input type="text" placeholder="Name" name="contact[name]">
      
      </div>
    </div>
    <div class="field">
      
      <label>Email Address</label>
      <input type="email" placeholder="Email" name="contact[email]">
  
    </div>
    <div class="field">
      
      <label>Message</label>
      <textarea name="contact[message]"></textarea>
    
    </div>
    <button type="submit" class="ui submit secondary button">Send</div>
  </form>

</div>

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui grid">
       <div class="row">
          <div class= "column">Made by Stuart Bingham, leveraging Semantic UI, Semantic UI Themes, and JQuery
        </div>
        </div>
      </div>
       <div class="row">
          <div class= "column">
            <a href="https://github.com/quibfiddle"><i class="github icon"></i></a>
            <a href="mailto:bingham.stuart@gmail.com"><i class="mail icon"></i></a>
            <a href="https://c9.io/quibfiddle"><i class="lab icon"></i></a>
          </div>
      </div>
      </div>

</div>


</body>

</html>
